.idea/
.gradle/
.settings/

.classpath
.project

target/
build/
build_eclipse/
out/

/logs
/.metadata
/.recommenders
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out

.svn
.classpath
*.jar
*.versionsBackup
*classes
*.class
*.log*
*.iml
.project
*.iws
